# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# config firebase user shtuff

REACT_APP_API_KEY=AIzaSyAwHjiGp3Y0nQBplR0Vj26V84hZbjN6SDo
REACT_APP_AUTH_DOMAIN=project3-94bb7.firebaseapp.com
REACT_APP_DATABASE_URL=https://project3-94bb7.firebaseio.com
REACT_APP_PROJECT_ID=project3-94bb7
REACT_APP_STORAGE_BUCKET=project3-94bb7.appspot.com
REACT_APP_MESSAGING_SENDER_ID=617316848040